body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'futura';
  background-color: antiquewhite;
}

.container {
  position: relative;
  width: 510px;
  height: 510px;
  background: #ffc8c8;
  padding-left: 10px;
  padding-top: 10px;
}

.detail {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.image-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
}

.image-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.name {
  color: white;
  font-size: 40px;
  margin-bottom: 50px;
}

.content {
  margin-bottom: 50px;
}

.status {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.my-facebook {
  color: white;
  font-size: 28px;
}

.showme {
  color: white;
  font-size: 30px;
  width: 200px;
  height: 60px;
  padding: 5px;
  background-color: #ffc8c8;
  border-color: #ffc8c8;
  border-radius: 30px;
  outline: none;
}
